<% if @round %>
  <h1>round id: <%= @round.id%></h1>
  <h1>deck playing: <%= @deck.name %></h1>

  <h3>What is the capital of: <%= @deck.cards.first.question %>  </h3>
<%else%>
  <h1>You'd like to play the <%= @deck.name %> deck?</h1>

  <form action="/decks/<%= @deck.id %>" method="post">
  <input type="submit" value="Yes!">
  </form>

  <form action="/decks" method="get">
  <input type="submit" value="No, back to decks!">
  </form>
<%end%>