<% if @round %>
  <% if session[:message] %>
   <p> <%= session[:message].first %> </p>
  <%end%>
  <h1>round id: <%= @round.id%></h1>
  <h1>deck playing: <%= @deck.name %></h1>
  <h2>Correct guesses: <%= @correct_guesses || 0 %></h2>
  <h2>Incorrect guesses: <%= @false_guesses || 0 %></h2>

  <h3>What is the capital of: <%= @current_card.question %>  </h3>

  <form action="/decks/<%= @deck.id %>" method="post">
    <input type="hidden" name="current_card" value="<%= @current_card.id %>">
    <input type="text" name="answer">
    <input type="submit" value="submit answer">
  </form>

<%else%>
  <h1>You'd like to play the <%= @deck.name %> deck?</h1>

  <form action="/decks/<%= @deck.id %>" method="post">
  <input type="submit" value="Yes!">
  </form>

  <form action="/decks" method="get">
  <input type="submit" value="No, back to decks!">
  </form>
<%end%>